.fondoItem{
    background-color: #ff111328;
    height: 430px;
    border-radius: 20px;
    color: white;
}
.resultado{
    color: #12BD45;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
}
.estiloNumero{
    font-size: 80px;
    font-weight: 600;
    padding-top: 25px;
    padding-bottom: 45px;
}
.interpretacion{
    margin: 10px;
    font-size: 18px;
    text-align: center;
}