/* You can add global styles to this file, and also import other style files */
body{
    background-color: #011227;
}
.titulo{
    font-family: 'Raleway', sans-serif;   
    color: white;
    text-align: center;
    margin-top: 25px;
}
.row{
    margin-top: 20px;
}
.fondoItem{
    background-color: #ff111328;
    height: 130px;
    border-radius: 20px;
    color: white;
}
.btn-color{
    background-color: #FF3366;
    border-color: #FF3366;
    border-radius: 25px;
    width: 100%;
}

.btn-color:hover {
    background-color: #FF3366;
    border-color: #FF3366;
}
.sexo{
    font-size: 40px;
}
.contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}
.estiloNumero{
    font-size: 32px;
    font-weight: 800;
    margin-top: -30px;
}
.centimetro{
    font-size: 16px;
    font-weight: 400;
    margin-left: -10px;
}
.form-range{
    padding: 0px 20px
}
input[type="range"]::-webkit-slider-thumb{
    background: #FF3366;
}
.sumaResta{
    cursor: pointer;
    background-color: #581614;
    padding: 7px;
    border-radius: 15px;
    margin-left: 3px;
}
.sexoDesactivado{
    background-color: #072850;
}